<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item" [appClass]="{ disabled: currentPage === 0}" >
      <a class="page-link"  (click)="currentPage = currentPage - 1">Prev</a>
    </li>
    <ng-container *ngFor="let image of images; let i = index">
      <li 
        class="page-item" 
        [appClass]="{ active: i === currentPage}"
        *ngIf="checkIndex(i)"
      >
        <a class="page-link" (click)="currentPage = i" >{{i+1}}</a>
      </li>
    </ng-container>
    <li class="page-item" [appClass]="{ disabled: currentPage === (images.length - 1)}" >
      <a class="page-link" (click)="currentPage = currentPage + 1" href="#">Next</a>
    </li>
  </ul>
</nav>

<div>
  <h4  [appClass]="'blue'" *appTimes="5">{{images[currentPage].title}}</h4>
  <img [src]="images[currentPage].url">
</div>